.boards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
    gap: 3px;

}
.board {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
}
.square {
  display: grid;
  border: black   solid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);


}

.cell {
    border: black  1px solid;
    font-family: monospace;
    text-align:center;
    font-size: 60px;

}
