.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}
.square {
  display: grid;
   grid-template-columns: repeat(3, 33px);
  grid-template-rows: repeat(3, 33px);
    border: #0d6aad thick;


  grid-gap: 1px;
}

.cell {
   background: black;
}
