{% extends "base.html" %}
{% block javascript %}
    <script type="text/javascript" src="static/js/board.js"></script>
{% endblock %}
{% block content %}
    <div class="boards">
      <div class="board" id="sudoku0">
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
      </div>
      <div class="board" id="sudoku1">
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
        <div class="square" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
            <input class="cell" >
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg" id="solve-btn">Solve</button>
    <button type="button" class="btn btn-danger btn-lg" id="clear">Clear</button>


{% endblock %}
