{% extends "base.html" %}
{% block javascript %}
    <script type="text/javascript" src="static/js/board.js"></script>
{% endblock %}
{% block content %}
<div class="game-container">
  <div class="grid-container">
  <div id="sudoku0">
      {% for i in range(9) %}
        <div class="grid-row">
          {% for j in range(9) %}
            <div class="grid-cell">
              <input value="{{ board[i][j] if board[i][j]>0 }}" type="text" {{ 'disabled' if board[i][j]!=0 else '' }} maxlength="1" id='cell-input[0][{{ j+i*9 }}]' class="def-txt-input">
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="button-container">
          <button id="solve-btn" type="button" class="btn btn-primary btn-block"> Solve </button>
        <button id="clear-btn" type="button" class="btn btn-secondary btn-block">Clear</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}